@{
    Layout = "_Layout";
}

<br />
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@PasswordRecovery.ResetPassword</h3>
    </div>

    <div class="panel-body">
        <p>@PasswordRecovery.ResetPasswordEmailSent</p>
    </div>
</div>