@{
    Layout = "_Layout";
}
@model IdentityServer.Models.Account.RecoveryPasswordModel

<br />
<br />
<div class="col-sm-6 col-sm-offset-2">
    <partial name="_ValidationSummary" />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@PasswordRecovery.RecoveryPasswordPageTitle</h3>
        </div>
        <div class="panel-body">
            <form asp-action="RecoveryPassword" asp-controller="ResetPassword" method="post">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" placeholder="@Login.UsernamePlaceholder" required />
                </div>
                <button class="btn btn-primary btn-block">@PasswordRecovery.SendResetPasswordMail</button>
            </form>

        </div>
    </div>
</div>